.portfolio-preview-wrapper {
  .portfolio-preview-content.content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

    .portfolio-preview-item {
      width: 21%;
      margin: 40px 2% 50px;
      -webkit-box-shadow: 1px 1px 16px -9px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 1px 16px -9px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 1px 16px -9px rgba(0, 0, 0, 0.75);
      transition: 0.5s;

      .portfolio-preview-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        background-color: transparentize($white, 0.125);

        .portfolio-preview-head {
          margin: auto;

          .portfolio-preview-title {
            text-align: center;
            line-height: 1rem;
            font-weight: 500;

            a {
              font-size: 1rem;
              text-decoration: none;
              line-height: 1rem;
            }
          }
          .portfolio-preview-client {
            font-size: 0.9rem;
            text-align: center;
            line-height: 1rem;
            margin: 0;
            font-weight: 500;
          }
        }
        .portfolio-preview-break {
          width: 100%;
        }
        .portfolio-preview-excerpt {
          padding: 0 1rem;
        }

        @media (max-width: 1170px) {
          padding: 0.5rem;
        }

        @media (max-width: 991px) {
          padding: 0.5rem;
        }

        @media (max-width: 599px) {
          padding: 0.25rem;
        }
      }

      .portfolio-preview-thumbnail {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        transform: scale(1.05);
      }

      @media (max-width: 1170px) {
        width: 29%;
        margin: 20px 2% 30px;
      }

      @media (max-width: 991px) {
        width: 46%;
        margin: 20px 2% 30px;
      }

      @media (max-width: 599px) {
        width: 96%;
        margin: 10px 2% 15px;
      }
    }
  }

  .portfolio-preview-load-wrapper {
    text-align: center;
    margin: 20px auto;

    #portfolio-preview-load {
      font-size: 2rem;
      color: $white;
      border: solid 1px $red;
      background-color: $red;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;

      &:hover {
        color: $red;
        border: solid 1px $red;
        background-color: transparent;
      }

      &:active {
        color: $white;
        border: solid 1px $red;
        background-color: $red;
      }
    }
  }
}
