.service-preview-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  .service-preview-item {
    width: 30%;
    margin: 40px auto 40px;
    padding: 1rem;
    border: solid 2px $red;
    -webkit-box-shadow: 2px 2px 11px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 11px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 11px -8px rgba(0, 0, 0, 0.75);

    .service-preview-head {
      text-align: center;
      padding: 1rem 0 0;

      i {
        font-size: 86px;
        margin: auto;
        color: $red;

        @media (max-width: 991px) {
          font-size: 72px;
        }

        @media (max-width: 767px) {
          font-size: 64px;
        }

        @media (max-width: 599px) {
          font-size: 56px;
        }

        @media (max-width: 399px) {
          font-size: 52px;
        }
      }

      .service-preview-title {
        line-height: 34px;

        a {
          text-decoration: none;
          font-size: 1.6rem;
          color: $black;
          transition: 0.2s;

          &:visited {
            color: $black;
          }

          &:hover {
            color: $red;
          }

          &:active {
            color: $black;
          }

          @media (max-width: 991px) {
            font-size: 1.4rem;
          }

          @media (max-width: 767px) {
            font-size: 1.2rem;
          }

          @media (max-width: 599px) {
            font-size: 1.1rem;
          }

          @media (max-width: 399px) {
            font-size: 1rem;
          }
        }

        @media (max-width: 991px) {
          line-height: 32px;
        }

        @media (max-width: 767px) {
          line-height: 30px;
        }

        @media (max-width: 599px) {
          line-height: 28px;
        }

        @media (max-width: 399px) {
          line-height: 26px;
        }
      }
    }

    .service-preview-break {
    }

    .service-preview-excerpt {
      padding: 1rem;

      @media (max-width: 991px) {
        padding: 0.75rem;
      }

      @media (max-width: 599px) {
        padding: 0.5rem;
      }
    }

    @media (max-width: 991px) {
      width: 46%;
      padding: 0.75rem;
      margin: 20px auto 20px;
    }

    @media (max-width: 599px) {
      width: 96%;
      padding: 0.5rem;
      margin: 10px auto 10px;
    }
  }
}
