@font-face {
  font-family: 'Centauri';
  src: url('../fonts/centauri/Centauri.woff') format('woff'),
    url('../fonts/centauri/Centauri.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nord';
  src: url('../fonts/nord/Nord-Black.eot');
  src: url('../fonts/nord/Nord-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nord/Nord-Black.woff') format('woff'),
    url('../fonts/nord/Nord-Black.ttf') format('truetype'),
    url('../fonts/nord/Nord-Black.svg#Nord-Black') format('svg');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Nord';
  src: url('../fonts/nord/Nord-Bold.eot');
  src: url('../fonts/nord/Nord-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nord/Nord-Bold.woff') format('woff'),
    url('../fonts/nord/Nord-Bold.ttf') format('truetype'),
    url('../fonts/nord/Nord-Bold.svg#Nord-Bold') format('svg');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Nord';
  src: url('../fonts/nord/Nord-Book.eot');
  src: url('../fonts/nord/Nord-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nord/Nord-Book.woff') format('woff'),
    url('../fonts/nord/Nord-Book.ttf') format('truetype'),
    url('../fonts/nord/Nord-Book.svg#Nord-Book') format('svg');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Nord';
  src: url('../fonts/nord/Nord-Light.eot');
  src: url('../fonts/nord/Nord-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nord/Nord-Light.woff') format('woff'),
    url('../fonts/nord/Nord-Light.ttf') format('truetype'),
    url('../fonts/nord/Nord-Light.svg#Nord-Light') format('svg');
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Nord';
  src: url('../fonts/nord/Nord-Medium.eot');
  src: url('../fonts/nord/Nord-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nord/Nord-Medium.woff') format('woff'),
    url('../fonts/nord/Nord-Medium.ttf') format('truetype'),
    url('../fonts/nord/Nord-Medium.svg#Nord-Medium') format('svg');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Nord';
  src: url('../fonts/nord/Nord-Regular.eot');
  src: url('../fonts/nord/Nord-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nord/Nord-Regular.woff') format('woff'),
    url('../fonts/nord/Nord-Regular.ttf') format('truetype'),
    url('../fonts/nord/Nord-Regular.svg#Nord-Regular') format('svg');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Nord';
  src: url('../fonts/nord/Nord-Thin.eot');
  src: url('../fonts/nord/Nord-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nord/Nord-Thin.woff') format('woff'),
    url('../fonts/nord/Nord-Thin.ttf') format('truetype'),
    url('../fonts/nord/Nord-Thin.svg#Nord-Thin') format('svg');
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Metrisch';
  font-weight: 900;
  src: url('../fonts/metrisch/Metrisch-Bold-webfont.eot');
  src: url('../fonts/metrisch/Metrisch-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/metrisch/Metrisch-Bold-webfont.woff2') format('woff2'),
    url('../fonts/metrisch/Metrisch-Bold-webfont.woff') format('woff'),
    url('../fonts/metrisch/Metrisch-Bold-webfont.ttf') format('truetype'),
    url('../fonts/metrisch/Metrisch-Bold-webfont.svg#metrischbold') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'Metrisch';
  font-weight: 600;
  src: url('../fonts/metrisch/Metrisch-Medium-webfont.eot');
  src: url('../fonts/metrisch/Metrisch-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/metrisch/Metrisch-Medium-webfont.woff2') format('woff2'),
    url('../fonts/metrisch/Metrisch-Medium-webfont.woff') format('woff'),
    url('../fonts/metrisch/Metrisch-Medium-webfont.ttf') format('truetype'),
    url('../fonts/metrisch/Metrisch-Medium-webfont.svg#metrischmedium') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'Metrisch';
  font-weight: 400;
  src: url('../fonts/metrisch/Metrisch-Light-webfont.eot');
  src: url('../fonts/metrisch/Metrisch-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/metrisch/Metrisch-Light-webfont.woff2') format('woff2'),
    url('../fonts/metrisch/Metrisch-Light-webfont.woff') format('woff'),
    url('../fonts/metrisch/Metrisch-Light-webfont.ttf') format('truetype'),
    url('../fonts/metrisch/Metrisch-Light-webfont.svg#metrischlight') format('svg');
  font-style: normal;
}
@font-face {
  font-family: 'Metrisch';
  font-weight: 200;
  src: url('../fonts/metrisch/Metrisch-ExtraLight-webfont.eot');
  src: url('../fonts/metrisch/Metrisch-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/metrisch/Metrisch-ExtraLight-webfont.woff2') format('woff2'),
    url('../fonts/metrisch/Metrisch-ExtraLight-webfont.woff') format('woff'),
    url('../fonts/metrisch/Metrisch-ExtraLight-webfont.ttf') format('truetype'),
    url('../fonts/metrisch/Metrisch-ExtraLight-webfont.svg#metrischextralight') format('svg');
  font-style: normal;
}
