#kts-footer {
  background-color: #4b9dd3;
  padding: 40px 20px 0;
}

.footer-content-flex {
  max-width: 1340px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-flex.one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  margin: 20px auto 0 0;
}

.content-flex.one img {
  border-bottom: solid 2px #fff;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.content-flex.one h4 {
  margin: 0;
  font-size: 26px;
  color: #fff;
  font-weight: 100;
}

.content-flex.one small {
  font-size: 12px;
  color: #fff;
  font-family: 'FG Book', sans-serif;
  margin-top: 10px;
  font-weight: 100;
}

.content-flex.border-left {
  border-left: solid 1px #ffffff4a;
  padding-left: 45px;
}

.content-flex.four {
  width: 250px;
  margin: 0 5px 0 auto;
}

.site-tag {
  padding: 10px 0 5px;
}

.site-tag p {
  text-align: center;
  margin: 0;
  font-size: 12px;
  color: #fff;
  font-weight: 100;
  font-family: 'FG Book', sans-serif;
}

.site-tag a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  font-family: 'FG Book', sans-serif;
}

.site-tag a:visited {
  color: #fff;
}

.site-tag a:hover {
  color: #aed1ea;
}

.site-tag a:active {
  color: #fff;
}

@media (max-width: 1169px) {
  .footer-content-flex > div:nth-child(3) {
    display: none;
  }
  .footer-content-flex > div {
    width: 33% !important;
  }
}

@media (max-width: 767px) {
  .content-flex {
    margin: 0 auto 20px !important;
  }
  .footer-content-flex > div {
    width: 100% !important;
  }
}
