#ksn-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  opacity: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: #ffffff6b;
  z-index: 100;
}

.side-toggle {
  height: 80px;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  padding: 0 20px;
  background-color: #3d8cc1;
  outline: none;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
  transition: 0.2s;
}

.side-toggle i {
  margin: 0;
  font-size: 24px;
  position: relative;
  top: 0px;
}

.side-toggle span {
  font-size: 18px;
  line-height: 19px;
  font-family: 'FG Book', sans-serif;
  text-transform: uppercase;
}

.side-toggle:visited {
  color: #fff;
}

.side-toggle:hover {
  background-color: #4b9dd3;
  color: #fff;
}

#ksn-container {
  height: 100vh;
  width: 400px;
  right: 0;
  position: fixed;
  background: #fff;
  opacity: 1;
  border-left: solid 5px #3a7ca7;
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  z-index: 200;
}

#ksn-menu-content {
  width: 100%;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

#ksn-above-content {
  max-height: 300px;
  margin-bottom: 10px;
}

#ksn-above-content p {
  margin: 0;
}

#ksn-above-content img.menu-image {
  object-fit: cover;
  max-height: 300px;
}

#ksn-below-content .menu-content-text {
  margin-top: 10px;
  padding: 0 20px;
}

#ksn-menu-content > ul {
  list-style: none;
  margin: 20px 10px 20px 40px;
  padding: 0;
}

#ksn-menu-content ul li {
  position: relative;
}

#ksn-menu-content ul li ul.sub-menu {
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0 0 0 20px;
  padding: 0;
  list-style: none;
}

#ksn-menu-content ul li i {
  position: absolute;
  left: -21px;
  top: 4px;
  color: #97c6e5;
  font-size: 21px;
  width: 26px;
  padding-left: 2px;
  padding-top: 1px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

#ksn-menu-content ul li i:hover {
  color: #3a7ca7;
}

#ksn-menu-content ul li i:active {
  color: #97c6e5;
}

#ksn-menu-content ul li a {
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 0px;
  border-radius: 6px;
  transition: 0.3s;
  text-decoration: none;
  padding: 3px 10px;
  color: #3a7ca7;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'FG Book', sans-serif;
}

#ksn-menu-content ul li ul.sub-menu a {
  font-size: 15px;
}

#ksn-menu-content ul li ul.sub-menu i {
  font-size: 17px;
  width: 20px;
  padding-left: 2px;
  padding-top: 1px;
  height: 20px;
  left: -15px;
  top: 4px;
}

.ksn-has-child-dropdown {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  cursor: pointer;
}

body.logged-in #ksn-overlay,
body.logged-in #ksn-wrapper,
body.logged-in #ksn-open {
  top: 30px;
}

@media (max-width: 767px) {
  body.logged-in #ksn-overlay,
  body.logged-in #ksn-wrapper,
  body.logged-in #ksn-open {
    top: 40px;
  }
  #ksn-container {
    max-width: 100vw;
  }
}
